body {
    background-color: #EEEEEE;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* CSS Variables */
    --main-button-color : #2565AE;
    --main-container-color : linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    --validate-button-color : #00B01D;
    --cancel-button-color : red;
}

h2{
    font-weight: bold;
    font-size: 1.6em;
}

h3{
    font-weight: bold;
    font-size: 1.3em;
}

/* Buttons */
button {
    border: none;
    margin: 0.1%;
}

input {
    border: none;
}

#btnNew {
    min-width: 14vh;
    height: 5vh;
    color: white;
    background-color: var(--main-button-color);
    border-radius: 5px;
    cursor: pointer;
}

#btnModify {
    min-width: 14vh;
    height: 5vh;
    color: white;
    background-color: var(--main-button-color);
    border-radius: 5px;
    cursor: pointer;
}

#btnDelete {
    min-width: 14vh;
    height: 5vh;
    color: white;
    background-color: var(--main-button-color);
    border-radius: 5px;
    cursor: pointer;
}

#btnCancel {
    min-width: 14vh;
    height: 5vh;
    color: white;
    background-color: var(--cancel-button-color);
    border-radius: 5px;
    cursor: pointer;
}

.mainTitle {
    color: white;
    font-size: 200%;
}

#app {
  text-align: center;
}

#appTitle {
    color: white;
    font-size: 150%;
}

#nav {
    width: 40%;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    border-radius: 5px;
    margin: auto;
    margin-bottom: 2em;
}

.bodyComponent{
    margin: 1%;
    background-color:#2c3e50;
    border-radius: 5px;
}

.btnLien{
  background-color: #2C9066;
  padding: 1%;
  border-radius: 10px;
  cursor: pointer;
  width: auto;
  text-decoration: none;
  color: black !important;
  font-weight: normal !important;
}

.btnLien:hover{
    background-color: #DDDDDD;
    border-radius: 5px;
}

textarea{
  resize: none;
}

.hrSpe{
    width: 50%;
    margin: auto;
}