body {
    margin: 0;
    width: 100%;
    background-color: white;
}

input {
    width: 50%;
    padding: 1%;
    border: none;
    margin: 1%;
}

#login-text {
    color: white;
    font-size: 50px;
}

#dontHaveAccount {
    color: white;
    font-size: 150%;
}

#btn-login {
    background-color: white;
    border-radius: 5px;
    width: 100px;
}

#btn-login:hover {
    background-color: #DDDDDD;
    border-radius: 5px;
}

#separator {
    border-top: 2px solid white;
    width: 100%;
}

form {
    width: 100%;
}

#login-box {
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    display: flex;
    flex-direction: column;
    top: 50%;
    align-items: center;
    width: 30%;
    height: 280px;
    margin: auto;
    border-radius: 5%;
    box-shadow: -3px 3px 20px black;
}
