#loginTitle {
    color: white;
    font-size: 300%;
}

#btnLogin {
    width: 10%;
    color: white;
    background-color: var(--main-button-color);
    border-radius: 5px;
    cursor: pointer;
}

#loginContainer {
    margin: auto;
    width: 50%;
    height: 50vh;
    border-radius: 10px;
    background-image: var(--main-container-color);
}

#btnNoAccount {
    font-size: 150%;
    color: white;
}

input {
    width: 50%;
    padding: 1%;
    border: none;
    margin: 1%;
}
