#loginTitle {
    color: white;
    font-size: 300%;
}

#btnRegister {
    color: white;
    width: 5%;
    background-color: #2565AE;
    border-radius: 5px;
    cursor: pointer;
}

#btnLogin {
    width: 5%;
    color: white;
    background-color: #2565AE;
    border-radius: 5px;
    cursor: pointer;
}
