#projectsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

table {
    border: 1px solid black;
}

table>tbody>tr:hover {
    background-color: #CCCCCC;
    cursor: pointer;
}

#btnCreateProject {
    width: 10%;
}

#btnCancel {
    width: 10%;
}
