#projectsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#projectsContainer {
    width: 100%;
}

table {
    border: 1px solid black;
    width: 90%;
}
table>thead {
    background-color: #007FFF;
}

table>tbody>tr:hover {
    background-color: #87CEFA;
    cursor: pointer;
}

#btnCreateProject {
    width: 10%;
    cursor: pointer;
}

#btnCancel {
    width: 10%;
    cursor: pointer;
}

/* Component */

#createProjectContainer {
    border: 1px solid black;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 1% auto 1% auto;
}

#projectTitle {
    border: 1px solid #007FFF;
    width: 80%;
    margin: 1% auto 1% auto;
}

#projectDescription {
    border: 1px solid #007FFF;
    width: 80%;
    margin: 1% auto 1% auto;
}

#btnValidate {
    width: 10%;
    margin: 1% auto 1% auto;
    cursor: pointer;
}
