.FormAddProject{
    display: grid;
    color: white;
    font-size: 150%;
}

#btnNewProject {
    width: 15%;
    height: 5vh;
    color: white;
    background-color: var(--main-button-color);
    border-radius: 5px;
    cursor: pointer;
}

#btnModifyProject {
    width: 15%;
    height: 5vh;
    color: white;
    background-color: var(--main-button-color);
    border-radius: 5px;
    cursor: pointer;
}

#btnDeleteProject {
    width: 15%;
    height: 5vh;
    color: white;
    background-color: var(--main-button-color);
    border-radius: 5px;
    cursor: pointer;
}

.btnValide{
    margin: auto;
    width: 15vw;
    background-color: #2C9066;
    padding: 1%;
    border-radius: 10px;
    cursor: pointer;
}

#btnCancel {
    width: 15%;
    height: 5vh;
    color: white;
    background-color: var(--main-button-color);
    border-radius: 5px;
    cursor: pointer;
}

#btnValidate {
    width: 15%;
    height: 5vh;
    color: white;
    background-color: var(--validate-button-color);
    border-radius: 5px;
    cursor: pointer;
}

.listProject{
    display: flex;
}

.listProject a{
    width: 70%;
    margin: 1% auto 1% auto;
}

#projects {
    color: black;
    background-color: white;
}

#projects:hover {
    color: black;
    background-color: lightblue;
}

#mainContainer {
    margin: auto;
    width: 80%;
    height: 80vh;
    border-radius: 10px;
    background-image: var(--main-container-color);
}

/* Project component */

* {
    box-sizing: border-box;
}

.inputSize {
    width: 500px;
    margin: 1% auto 1% auto;
}
