#btnStartAudioRecord {
    width: 10%;
    cursor: pointer;
    border-radius: 5px;
    background-color: green;
    color: white;
}

#btnStopAudioRecord {
    width: 10%;
    cursor: pointer;
    background-color: red;
    border-radius: 5px;
    color: white;
}
