#registerTitle {
    color: white;
    font-size: 300%;
}

#btnRegister {
    color: white;
    width: 10%;
    background-color: var(--main-button-color);
    border-radius: 5px;
    cursor: pointer;
}

#registerContainer {
    margin: auto;
    width: 50%;
    height: 60vh;
    border-radius: 10px;
    background-image: var(--main-container-color);
}

#btnAlreadyHaveAccount {
    color: white;
    font-size: 150%;
}
